
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Itim&family=Kaushan+Script&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --headingsfont : "Kaushan Script",'Times New Roman', Times , cursive;
    --paragraphfont : "Itim", Arial, Helvetica, cursive;
    --background-color: #050516;
}

h1,h2 {
    font-family: var(--headingsfont);
}

p, span {
    font-family: var(--paragraphfont);
}

body {
    background-color: var(--background-color);
    height: 100vh;
}

h1 {
    font-size: 2.8rem;
    width: fit-content;
    margin: 0 auto;
    padding: 3rem 1rem 1rem;
    color: white;
}

.loginpage {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5rem 0;
}


.loginpage label,
.loginpage input,
.loginpage button {
    display: block;
}

.loginpage label {
    margin-left: 10%;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
    color: rgb(255, 230, 0);
}

.loginpage input {
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    height: 3rem;
    border-radius: 11px;
    box-sizing: border-box;
}

.loginpage button {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 10.5%;
    width: 20%;
    height: 2.5rem;
    background-color: rgb(255, 230, 0);
    border-radius: 11px;
}

.loginpage button:hover {
    background-color: rgba(31, 30, 30, 0.712);
    color: yellow;
    border: 2px solid yellow;
}

.loginpage hr {
    width: 80%;
    margin: 1.5rem auto;
}

.loginpage p {
    font-size: 1.4rem;
    width: 75%;
    margin: 3rem auto 0;
    color: white;
}

.loginpage span {
    font-weight: 500;
    text-decoration: underline;
    color: yellow;
}

#copyright {
    width: 100%;
    font-size: 1.2rem;
    margin: 3rem 0 0;
    position: fixed;
    bottom: 3rem;
    text-align: center;
    color: rgba(233, 233, 220, 0.623);
}

/*----------------    page two styling     --------------*/

.pageone.hide {
    display: none;
}

.pagetwo {
    display: none;
}

.pagetwo.show {
    display: flex;
    height: 100%;
}

.pagetwo>p {
    width: 100%;
    padding: 0 20%;
    display: flex;
    gap: 20%;
    justify-content: space-evenly;
    height: fit-content;
}

.pagetwo span {
    display: none;
}

.pagetwo span.show {
    display: block;
    background-color: yellow;
    padding: 12px 8px;
    border-radius: 50%;
}


.pagetwotext {
    display: none;
}

.pagetwotext.show {
    display: block;
    font-size: 1.7rem;
    text-align: left;
    padding: 10rem 15% 1rem;
    color: white;
}