@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Itim&family=Kaushan+Script&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --headingsfont: "Kaushan Script", 'Times New Roman', Times, cursive;
    --paragraphfont: "Itim", Arial, Helvetica, cursive;
    --background-color: #050516;
}

h1,
h2 {
    font-family: var(--headingsfont);
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: rgb(179, 177, 177);
}

p,
span {
    font-family: var(--paragraphfont);
}

body {
    background-color: var(--background-color);
    height: fit-content;
}

h1 {
    font-size: 2.8rem;
    width: fit-content;
    margin: 0 auto;
    padding: 3rem 1rem 1rem;
    color: white;
}

.loginpage {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5rem 0 0;
}


.loginpage label,
.loginpage input,
.loginpage button {
    display: block;
}

.loginpage label,
#userform label,
#userform2 label {
    margin-left: 10%;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
    color: rgb(255, 230, 0);
}

.loginpage input,
#userform select,
#userform2 select {
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    height: 3rem;
    border-radius: 11px;
    box-sizing: border-box;
}

.loginpage button,
#userform button {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 10.5%;
    width: 20%;
    height: 2.5rem;
    background-color: rgb(255, 230, 0);
    border-radius: 11px;
}

.loginpage button:hover {
    background-color: rgba(31, 30, 30, 0.712);
    color: yellow;
    border: 2px solid yellow;
}

.loginpage hr {
    width: 80%;
    margin: 1.5rem auto;
}

.loginpage p {
    font-size: 1.4rem;
    width: 75%;
    margin: 3rem auto 0;
    color: white;
}

.loginpage span {
    font-weight: 500;
    text-decoration: underline;
    color: yellow;
}

#copyright {
    width: 100%;
    font-size: 1.2rem;
    margin: 3rem 0 0;
    position: fixed;
    bottom: 3rem;
    text-align: center;
    color: rgba(233, 233, 220, 0.623);
}

/*----------------    page two styling     --------------*/

.pageone.hide {
    display: none;
}

.pagetwo {
    display: none;
}

.pagetwo.show {
    display: flex;
    height: 100%;
}

.pagetwo>p {
    width: 100%;
    padding: 0 20%;
    display: flex;
    gap: 20%;
    justify-content: space-evenly;
    height: fit-content;
}

.pagetwo span {
    display: none;
}

.pagetwo span.show {
    display: block;
    background-color: yellow;
    padding: 12px 8px;
    border-radius: 50%;
}


.pagetwotext {
    display: none;
}

.pagetwotext.show {
    display: block;
    font-size: 1.7rem;
    text-align: left;
    padding: 10rem 15% 1rem;
    color: white;
}

/*----------------    Main App Page styling     --------------*/



.mainAppPage {
    display: none;
}

.mainAppPage.show {
    display: block;
    margin: 2rem 1rem 1rem;
}

.mainAppPage h1 {
    font-size: 2.1rem;
    margin: 0 auto;
}

.heroSection {
    padding: 1rem 2rem 2rem;
    border-radius: 22px;
    background-image: linear-gradient(to bottom right, rgba(135, 207, 235, 0.37), rgba(135, 207, 235, 0.719), rgba(135, 207, 235, 0.37));
}

.heroImages {
    width: 80%;
    max-width: 600px;
    position: relative;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.heroImages #tiltedImage1 {
    width: 40%;
    height: 15rem;
    transform: rotateZ(-15deg);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 0, 0.877);
    box-shadow: 0 0 12px 3px grey;
}

.heroImages #tiltedImage2 {
    width: 40%;
    height: 15rem;
    transform: rotateZ(15deg);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 0, 0.877);
    box-shadow: 0 0 12px 3px grey;
}

.heroImages #centerImage {
    width: 50%;
    height: 15rem;
    position: absolute;
    left: 25%;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 0, 0.877);
    box-shadow: 0 0 12px 3px grey;
}

.mainAppPage p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.mainAppPage h2 {
    color: white;
    font-size: 1.7rem;
    font-stretch: expanded;
    text-align: center;
    margin: 2rem auto 0.5rem;
}

#userform button.hide {
    display: none;
}

#userform2 {
    display: none;
}

#userform2.show {
    display: block;
}

#userform select,
#userform2 select {

    font-size: 1.1rem;
    width: 40%;
    margin: 1rem;
    padding: 0.5rem;
    height: 3rem;
    border-radius: 11px;
}

#editButton {
    display: none;
}

#editButton.show {
    display: inline;
    font-size: 1.3rem;
    width: 10%;
    background-color: yellow;
    color: black;
    margin: 0;
    padding: 2px 0.5rem;
    border-radius: 8px;
    text-align: center;
}

#getprofile {
    display: none;
}

#getprofile.show, #showMatchesButton {
    font-size: 1.7rem;
    display: block;
    background-color: rgba(135, 207, 235, 0.719);
    color: white;
    width: fit-content;
    margin: 2rem auto 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid white;
}

#getprofile.show:hover, #showMatchesButton:hover {
    background-color: transparent;
    padding: 0.5rem 1.2rem;
}

#usercardDivider {
    display: none;
}


#usercardDivider.show {
    display: block;
}

#usercard {
    display: grid;
    width: 80%;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: #D1D1CA;
    margin: 0 auto;
}

#usercard>img {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: 2px solid var(--background-color);
    border-radius: 10px;
}

#usercard>div {
    margin: 1rem auto 0;
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#usercard>div>div {
    padding: 5px 0;
    background-color: var(--background-color);
    color: white;
    border-radius: 11px;
    text-align: center;
}

#usercard>div>div>h3 {
    font-size: 1rem;
}

#usercard>div>div>p {
    color: rgb(184, 183, 183);
    font-size: 0.8rem;
    padding: 0;
}

#special {
    position: relative;
    font-size: 1.7rem;
    font-weight: 800;
    width: 90%;
    padding: 0.5rem 0 1rem;
    margin: 1rem auto 3rem;
    border: 2px solid rgb(184, 183, 183);
    border-radius: 20px ;
    color: white;
    text-align: center;
}

#special span {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    padding: 0.2rem 1rem;
}

#special span:hover {
    background-color: grey;
    border-radius: 50%;
}

#showMatchesButton {
    margin: 3rem auto 1rem;
}

#usercardDivider>hr {
    margin: 2rem 0 1rem;
}

.profileSection.profileSection.profileSection {
    display: none;
}

.profileSection.show.profileSection.show.profileSection.show {
    display: block;
}



.profileSection.show>h2 {
    text-align: center;
    color: white;
    font-stretch: expanded;
    font-size: 2rem;
    margin-top: 2rem;
}

#animationtext {
    padding-top: 2rem;
}


/*------------    flip cards Styling   ----------*/


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    margin: 4rem auto;
    width: 80%;
    height: 250px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 20px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: rgb(238, 216, 15);
    text-align: center;
}


.flip-card-front>p {
    font-size: 1.6rem;
    font-weight: 800;
    color: black;
    margin: 0 0 10px;
}

.flip-card-front> p:first-child {
    margin-top: 1.5rem;
    color: var(--background-color);
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
    padding: 1rem 0;
}

.flip-card-back>img {
    width: 100%;
    height: 200px;
    padding-top: 1rem;
}


footer {
    padding: 5rem 0;
}